body {
  background: none;
}

#header {
  background: #333333;
}

#container {
  text-align: justify;
  padding-bottom: 45px;
  background: url(../img/bgcontent.png) bottom right no-repeat;
  color: #515151;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

#container h1 {
  font-family: "Oswald-Regular";
  border-left: 8px solid #0374b3;
  margin-top: 45px;
  padding: 15px;
  font-size: 2rem;
  font-weight: 30px;
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
  background-color: #e1dfdfcc;
  background-image: url(../img/headingbg.png);
  background-repeat: no-repeat;
  background-position: right center;
}

#container h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}
