/* 
Color Schemes

lightblue: #3BB6EF
darkblue: #25326F

*/

@font-face {
  font-family: "Mark-Bold";
  src: url("/fonts/Mark-Bold.ttf");
}

@font-face {
  font-family: "Mark-Regular";
  src: url("/fonts/Mark-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mark-Bold";
}

button:focus {
  outline: 0;
}

#container {
  width: 80%;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}

#brand-logo {
  width: 200px;
  cursor: pointer;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

#navbar p {
  margin-right: 35px;
  cursor: pointer;
}

#navbar button {
  background-color: none;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  background-color: #3bb6ef;
  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Promo Cards Style */

#promo-container {
  margin: 20px 0px;
}

#promo-header-text {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.card-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: linear-gradient(to left, #fdc830, #f37335);
  border-radius: 10px;
  margin: 0px 20px;
  color: #ffffff;
  padding: 10px;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* How App Works Styles */

#app-instructions-container {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#screenshots img {
  width: 300px;
}

#instruction-header-text {
  font-size: 1.5rem;
}

/* Redeem Styles */

#redeem-container {
  margin: 20px 0;
}

#redeem-header {
  font-size: 1.5rem;
}

.redeem-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redeem-card img {
  width: 300px;
}

/* Video Style */

#video-container {
  margin: 20px 0;
  text-align: center;
}

#video-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* App Screenshots */

/* Footer */

#footer {
  background-color: #25326f;
  padding: 40px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

#footer-logo {
  width: 200px;
}

#social-media-icons {
  margin: 30px 0;
}

#social-media-icons i:not(:last-child) {
  margin-right: 40px;
}

#social-media-icons i {
  background-color: #ffffff;
  padding: 10px;
  font-size: 2rem;
  color: #3bb6ef;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#social-media-icons i:hover {
  background-color: #3bb6ef;
  color: #ffffff;
}
