/* 
Color Schemes

lightblue: #3BB6EF
darkblue: #25326F

*/

@font-face {
  font-family: "Oswald-Bold";
  src: url("/fonts/Oswald-Bold.ttf");
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald-Light";
  src: url("/fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "Mark-Bold";
  src: url("/fonts/Mark-Bold.ttf");
}

@font-face {
  font-family: "Mark-Regular";
  src: url("/fonts/Mark-Regular.ttf");
}

/* General Style */

* {
  margin: 0;
  padding: 0;
  font-family: "Mark-Regular";
}

body {
  background: url("../img/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

/* Header Style */

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: background-color 0.2s ease-in-out;
}

#brand-logo {
  width: 200px;
  cursor: pointer;
  transition: width 0.2s ease-in-out;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  transition: font-size 0.2s ease-in-out;
}

#navbar p {
  margin-right: 35px;
  cursor: pointer;
}

#navbar button {
  background-color: none;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #3bb6ef;
  font-size: 1.1rem;
  cursor: pointer;
  transition: font-size 0.2s ease-in-out;
}

.sticky {
  background-color: #333333;
}

.sticky #brand-logo {
  width: 130px;
}

.sticky #navbar {
  font-size: 0.9rem;
}

.sticky #navbar button {
  font-size: 0.9rem;
}

/* Container Style */

#container {
  width: 80%;
  margin: 0 auto;
}

/* Promo Cards Style */

#promo-container {
  margin: 100px 0px;
}

#promo-container h2::before {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-right: 10px;
}

#promo-container h2 {
  margin-bottom: 50px;
  color: #666666;
  font-size: 2rem;
  font-family: "Oswald-Regular";
  font-weight: 300;
}

.card-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border-radius: 10px;
  margin: 0px 20px;
  color: #ffffff;
  padding: 30px;
  min-height: 300px;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* How App Works Styles */

#app-instructions-container::before {
  content: "";
  background-color: #f6f9fc;
  position: absolute;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -1;
  transform: rotate(-12deg);
}

#app-instructions-container {
  margin: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#screenshots img {
  width: 300px;
}

#app-instructions-container h2::after {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-left: 10px;
}

#app-instructions-container h2 {
  text-align: right;
  color: #666666;
  font-size: 2rem;
  font-family: "Oswald-Regular";
  font-weight: 300;
}

#app-instructions {
  width: 100%;
}

/* Redeem Styles */

#redeem-container {
  margin: 150px 0;
}

#redeem-container h2::before {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-right: 10px;
}

#redeem-container h2 {
  font-size: 2rem;
  font-family: "Oswald-Regular";
  font-weight: 300;
  color: #666666;
}

.redeem-header-text {
  background: linear-gradient(to right, #00b4db, #0083b0);
  padding: 20px;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.redeem-card:nth-child(odd) .redeem-header-text {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.redeem-card:nth-child(even) .redeem-header-text {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.redeem-description {
  width: 50%;
  padding-left: 20px;
}

.redeem-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redeem-card-text {
  width: 100%;
}

.redeem-card img {
  width: 300px;
}

/* Video Style */

#video-container::before {
  content: "";
  background-color: #f6f9fc;
  position: absolute;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -1;
  transform: rotate(-12deg);
}

#video-container {
  margin: 100px 0;
  text-align: center;
  position: relative;
}

#video-container h2::after {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-left: 10px;
}

#video-container h2 {
  font-size: 2rem;
  font-family: "Oswald-Regular";
  font-weight: 300;
  margin-bottom: 50px;
  text-align: right;
  color: #666666;
}

/* App Screenshots */

#app-screenshots-container {
  margin: 150px 0;
}

#app-screenshots-container h2::before {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-right: 10px;
}

#app-screenshots-container h2 {
  font-size: 2rem;
  font-family: "Oswald-Regular";
  font-weight: 300;
  margin-bottom: 50px;
  color: #666666;
}

.center-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-slider .slick-list {
  margin: 0 20px;
}

.center-slider .slide {
  cursor: pointer;
}

.center-slider .slide:focus {
  outline: 0;
}

.center-slider .slick-active {
  padding: 20px 0;
  opacity: 0.6;
}

.center-slider .slick-center {
  transform: scale(1.15);
  opacity: 1;
}

.center-slider .slick-slide:not(.slick-active) {
  margin: 20px 0;
  opacity: 0.6;
  filter: blur(1px);
}

.center-slider .child {
  width: 100%;
}

/* Footer */

#footer {
  background-color: #444242;
  padding-top: 40px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

#footer-logo {
  width: 200px;
}

.tnc-header {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #3bb6ef;
  font-size: 1.5rem;
  position: relative;
}

.tnc-header::after {
  content: "";
  display: block;
  border-top: 2px solid #cac8c8;
  width: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5px;
}

.tnc-group {
  display: flex;
  justify-content: center;
}

.tnc-group p {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  margin-right: 30px;
}

.tnc-group p:last-child {
  margin-right: 0;
}

.tnc-group p:hover {
  color: #101010;
}

#social-media-icons {
  margin: 30px 0;
}

/* #social-media-icons i:not(:last-child) {
  margin-right: 40px;
} */

#social-media-icons a:not(:last-child) {
  margin-right: 40px;
}

#social-media-icons i {
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #101010;
  border-radius: 100px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
  width: 50px;
  height: 50px;
}

#social-media-icons i:hover {
  color: #3bb6ef;
}

#footer img {
  width: 200px;
}

#footer-bottom {
  background-color: #031722;
  padding: 30px 0;
  color: #888484;
}

#footer-bottom p:last-child {
  margin-top: 20px;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

#footer-bottom p:last-child:hover {
  color: #ffffff;
  text-decoration: underline;
}

.scrollup {
  z-index: 999;
  right: 2rem;
  bottom: 1rem;
  display: none;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 1.875rem;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
  background: #000 url(../img/up-arrow.png) no-repeat center 47%;
  background-size: auto;
  background-size: 2.125rem 2.125rem;
  text-indent: -9999px;
  position: fixed;
}
