/* 
Color Schemes

lightblue: #3BB6EF
darkblue: #25326F

*/

@font-face {
  font-family: "Mark-Bold";
  src: url("/fonts/Mark-Bold.ttf");
}

@font-face {
  font-family: "Mark-Regular";
  src: url("/fonts/Mark-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mark-Regular";
}

body {
  background: url("../img/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

button:focus {
  outline: 0;
}

#container {
  width: 80%;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;
  color: #ffffff;
}

#brand-logo {
  width: 200px;
  cursor: pointer;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

#navbar p {
  margin-right: 35px;
  cursor: pointer;
}

#navbar button {
  background-color: none;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #3bb6ef;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Promo Cards Style */

#promo-container {
  margin: 100px 0px;
}

#promo-header-text::before {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-right: 10px;
}

#promo-header-text {
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-family: "Mark-Bold";
}

.card-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border-radius: 10px;
  margin: 0px 20px;
  color: #ffffff;
  padding: 30px;
  height: 300px;
  position: relative;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* How App Works Styles */

#app-instructions-container::before {
  content: "";
  background-color: #f6f9fc;
  position: absolute;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -1;
  transform: rotate(-12deg);
}

#app-instructions-container {
  margin: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#screenshots img {
  width: 300px;
  margin-right: 50px;
}

#instruction-header-text::after {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-left: 10px;
}

#instruction-header-text {
  font-size: 2.5rem;
  font-family: "Mark-Bold";
  text-align: right;
}

/* Redeem Styles */

#redeem-container {
  margin: 150px 0;
}

#redeem-header::before {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-right: 10px;
}

#redeem-header {
  font-size: 2.5rem;
  font-family: "Mark-Bold";
}

.redeem-header-text {
  background: linear-gradient(to right, #00b4db, #0083b0);
  padding: 20px;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.redeem-card:nth-child(odd) .redeem-header-text {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.redeem-card:nth-child(even) .redeem-header-text {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.redeem-description {
  width: 50%;
  padding-left: 20px;
}

.redeem-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redeem-card img {
  width: 300px;
}

/* Video Style */

#video-container::before {
  content: "";
  background-color: #f6f9fc;
  position: absolute;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -1;
  transform: rotate(-12deg);
}

#video-container {
  margin: 100px 0;
  text-align: center;
  position: relative;
}

#video-header::after {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-left: 10px;
}

#video-header {
  font-size: 2.5rem;
  font-family: "Mark-Bold";
  margin-bottom: 50px;
  text-align: right;
}

/* App Screenshots */

#app-screenshots-container {
  margin: 150px 0;
}

#app-screenshots-header::before {
  content: "";
  border-left: 5px solid #3bb6ef;
  margin-right: 10px;
}

#app-screenshots-header {
  font-size: 2.5rem;
  font-family: "Mark-Bold";
  margin-bottom: 50px;
}

/* Footer */

#footer {
  background-color: #25326f;
  padding: 40px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

#footer-logo {
  width: 200px;
}

#social-media-icons {
  margin: 30px 0;
}

#social-media-icons i:not(:last-child) {
  margin-right: 40px;
}

#social-media-icons i {
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #3bb6ef;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  width: 50px;
  height: 50px;
}

#social-media-icons i:hover {
  background-color: #3bb6ef;
  color: #ffffff;
}
