#showcase-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.arrow {
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 0.5;
}

#slider-container {
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
  margin: 0 20px;
}

#slider {
  width: 300%;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: left 0.5s ease-in-out;
}

#slider:hover {
  cursor: pointer;
}

.slide {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide2,
.slide3 {
  justify-content: center;
}

.description #header-text {
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 20px;
  background: linear-gradient(to right, #00b4db, #0083b0);
  color: #ffffff;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  font-weight: 300;
  font-family: "Oswald-Regular";
}

#subheader-text {
  color: #ffffff;
}

.description img.google-play-banner {
  width: 200px;
  margin-top: 50px;
}

.slide img {
  width: 300px;
}
