.showcase-slider {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.slide1 img {
  width: 300px;
}

.arrow {
  cursor: pointer;
}

.slide1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide1 .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-text {
  background: linear-gradient(to right, #00b4db, #0083b0);
  padding: 20px;
  font-family: "Oswald-Regular";
  font-weight: 300;
  color: #ffffff;
  font-size: 2.5rem;
  border-radius: 20px;
  width: 400px;
  margin-bottom: 30px;
}

#subheader-text {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.slideshow-inner {
  width: 100%;
  padding: 20px;
}
