#vertical-slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.arrow {
  cursor: pointer;
  font-size: 3rem;
}

#vertical-slider-container {
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
  margin: 20px 0;
}

#vertical-slider {
  height: 300%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.vertical-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.vertical-slide i {
  font-size: 4rem;
}

.description #header-text {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 20px;
  background-color: #3bb6ef;
  color: #ffffff;
  padding: 10px;
  width: 400px;
}

.description img.google-play-banner {
  width: 200px;
  margin-top: 50px;
}

.vertical-slide img {
  width: 300px;
}
