#slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  cursor: pointer;
  font-size: 4rem;
}

#slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: -40%;
}

.slide {
  width: 20%;
  border: 1px solid red;
}

.slide img {
  width: 100px;
}
